// Variables for use throughout the site's SCSS files


$white: #FFFFFF;
$black: #000000;
$red: #FF0000;
$green: #00FF00;

$success_colour: #32D296;
$danger_colour: #F0506E;
$muted_colour: #999999;

$primary_background: #7289DA;
$muted_background: #F8F8F8;

$global_border: #E5E5E5;
$border_darker: #AAAAAA;

$winner_colour_brighter: #EEBB00;
$winner_colour: #E0B000;
$winner_colour_hover: #DAA900;
$winner_colour_active: #DAA015;
