<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <script src="{{ static_file('js/script.js') }}" type="application/javascript"></script>

            <!-- Static stuff -->
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('css/uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/style.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/bundled/pygments-monokai.css') }}"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="{% block page_classes %}{% endblock page_classes %}
                 page-{{ current_page.replace(".", "-") }}
                 blueprint-{{ blueprint.replace(".", "-") }}">
        <div class="uk-offcanvas-content uk-flex uk-flex-column" id="wiki-page">
            {% include "main/navigation.html" %}
            <div class="uk-flex uk-flex-row uk-flex-1">
                <div class="uk-card uk-card-body uk-flex-left uk-flex uk-card-primary uk-visible@s" id="wiki-sidebar">
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav id="wiki-nav">
                        {% if data is defined and current_page == "wiki.page" %}
                            {% if "headers" in data and data.headers %}
                                <li class="uk-nav-header">Contents</li>
                                {% for header in data.headers %}
                                    {%  if "sub_headers" in header %}
                                        <li class="uk-parent">
                                            <a href="{{ header.id }}">
                                                {{ header.title | safe }}
                                            </a>
                                            <ul class="uk-nav-sub">
                                                {% for sub in header.sub_headers %}
                                                    <li><a href="{{ sub.id }}">
                                                        {{ sub.title | safe }}
                                                    </a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ header.id }}">{{ header.title | safe }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="uk-nav-divider"></li>
                            {% endif %}
                        {% endif %}
                        <li class="uk-nav-header">Pages</li>

                        <li><a href="{{ url_for("wiki.page", page="home") }}">
                            <i class="uk-icon fas fa-fw fa-home"></i> &nbsp;Home
                        </a></li>
                        <li><a href="{{ url_for("wiki.page", page="jams") }}">
                            <i class="uk-icon fas fa-fw fa-star-exclamation"></i> &nbsp;Code Jams</a>
                        </li>
                        <li><a href="{{ url_for("wiki.page", page="contributing") }}">
                            <i class="uk-icon fas fa-fw fa-code-branch"></i> &nbsp;Contributing
                        </a></li>
                        <li><a href="{{ url_for("wiki.page", page="minecraft") }}">
                            <i class="uk-icon fas fa-fw fa-cube"></i> &nbsp;Minecraft
                        </a></li>

                        {% set ACTIONABLE_PAGES = [
                                "wiki.page", "wiki.edit", "wiki.history.show",
                                "wiki.history.compare", "wiki.source", "wiki.delete",
                                "wiki.move"
                        ] %}
                        {% set actionable = current_page in ACTIONABLE_PAGES and can_edit %}

                        {% if actionable %}
                            <li class="uk-nav-divider"></li>

                            <li class="uk-nav-header">Actions</li>

                            {% if current_page == "wiki.edit" %}
                                <li>
                                    <a href="{{ url_for("wiki.page", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.edit", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-pencil-alt"></i> &nbsp;Edit
                                    </a>
                                </li>
                            {% endif %}

                            {% if current_page == "wiki.delete" %}
                                <li>
                                    <a href="{{ url_for("wiki.page", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.delete", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-trash"></i> &nbsp;Delete
                                    </a>
                                </li>
                            {% endif %}

                            {% if current_page == "wiki.move" %}
                                <li>
                                    <a href="{{ url_for("wiki.page", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.move", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-right"></i> &nbsp;Move
                                    </a>
                                </li>
                            {% endif %}

                            {% if current_page == "wiki.history.show" %}
                                <li>
                                    <a href="{{ url_for("wiki.page", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% elif current_page == "wiki.history.compare" %}
                                <li>
                                    <a href="{{ url_for("wiki.history.show", page=slug) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.history.show", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-history"></i> &nbsp;Revisions
                                    </a>
                                </li>
                            {% endif %}

                            {% if current_page == "wiki.source" %}
                                <li>
                                    <a href="{{ url_for("wiki.page", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.source", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-code"></i> &nbsp;Source
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">Information</li>

                        <li><a href="{{ url_for("wiki.special") }}">
                            <i class="uk-icon fas fa-fw fa-ellipsis-h"></i> &nbsp;Special Pages
                        </a></li>
                        <li><a href="{{ url_for("wiki.page", page="help") }}">
                            <i class="uk-icon fas fa-fw fa-question-circle"></i> &nbsp;Help
                        </a></li>

                        <li>
                            <form action="{{ url_for("wiki.search") }}" method="post">
                                {% if query is undefined %}
                                <input type="text" class="uk-input sidebar-search-input" placeholder="Search (BETA)" id="query" name="query" required>
                                {% else %}
                                <input type="text" class="uk-input sidebar-search-input" placeholder="Search (BETA)" id="query" name="query" value="{{ query }}" required>
                                {% endif %}
                                <br />
                                <button class="uk-button uk-button-darkish uk-button-small search-button" type="submit" id="search" title="Search">
                                    <i class="uk-icon fas fa-fw fa-search"></i>
                                </button>

                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-expand full-width">
                    <a class="uk-flex-left uk-flex uk-flex-column uk-background-primary uk-hidden@s uk-hidden@m uk-hidden@l uk-hidden@xl" id="wiki-sidebar-button">
                        <div class="uk-flex-center"><i class="uk-icon fa-fw far fa-bars"></i></div>
                    </a>
                    <div class="uk-section uk-flex uk-flex-column content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium uk-text-meta">
                <div class="uk-text-center uk-text-meta">
                    <p>
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, and was developed collaboratively on
                        <a href="https://gitlab.com/python-discord/projects/site">GitLab</a>.
                        <br />
                        For privacy &amp; GDPR-related info, please <a href="{{ url_for("main.about.privacy") }}">see this page</a>.
                    </p>
                </div>
            </div>
        </footer>

    <script>
        wiki_sidebar();
    </script>
    </body>
</html>
